<!DOCTYPE html>
<html style="padding-left: 30px;">
{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Planificateur Intelligent{% else %}Planificateur Intelligent{% endif %}
{% endblock %}

    {% block navbar %}
		<div> 
			<a href="/index">Accueil</a>
			<a href="/form">Formulaire</a>
		</div>
		<hr>
	{% endblock %}
		
		{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		{% block app_content %}{% endblock %}
		{% endblock %}
    
</html>
